:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --section-background: #ececec;
  --text-color: #606770;
  --main-link-color:#385898;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 999px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 300px;
  }
}
header {
  background-color: #eee;
  
}
header .container {
  padding: 35px 0 40px;
  display: grid;
  justify-content: center;
}
header .container h2 {
  color: var(--main-color);
  font-size: 55px;
  font-family: sans-serif;
  text-align: center;
  margin: 0 0 24px;
}
header .error {
  text-align: center;
  margin: 0 auto 15px;
  background-color: red;
  width: 80%;
  padding: 10px 0;
  font-size: 17px;
  font-family: monospace;
  color: white;
  display: none;
}
header .container .content {
  background-color: white;
  border-radius: 16px;
  width: 432px;
}
header  .content .form {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid var(--section-background);
}
header  .content .form h4 {
font-size: 25px;    
font-family: Helvetica, Arial, sans-serif;
line-height: 32px;
}
header  .content .form  p {
  color: var(--text-color);
  margin: 5px 0 ;
  font-size: 17px;
}
header .all-data {
  padding: 10px 16px 16px;
}
header .all-data .fullname {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px;
}
header .all-data .fullname input {
  padding: 12px 8px;
  border: 1px solid var(--section-background);
  outline: none;
  border-radius: 6px;
}
header .all-data .fullname input:focus {
  outline: 1px solid var(--main-color);
}
header .all-data .date {
  margin: 0 0 10px;
}
.all-data .label {
  font-size: 14px;
  color: var(--text-color);
}
.all-data i {
  font-size: 10px;
  background-color: #737373;
  color: white;
  padding: 3px 5px;
  border-radius: 50%;
  margin-left: 2px;
}
header .all-data .date .date-content {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
header .all-data .date .date-content select {
  width: 120px;
  padding: 5px 0;
  padding-left: 5px;
  border: 1px solid var(--section-background);
  background-color: white;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}
header .all-data .gender {
  margin-bottom: 10px;
}
header .all-data .gender .gender-content {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
header .all-data .gender-content label {
  position: relative;
  padding: 10px 10px 15px 5px;
  border: 1px solid var(--section-background);
  width: 120px;
  display: flex;
}
header .all-data .gender-content input[type="radio"] {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
header .all-data .info input {
  width: 100%;
  margin-bottom: 20px;
  padding: 14px 8px;
  border: 1px solid var(--section-background);
  border-radius: 6px;
  outline: none;
}
header .all-data .info input:focus {
  outline: 1px solid var(--main-color);
}
header .all-data .info span.one,
header .all-data .info span.two {
  color: var(--text-color);
  font-size: 13px;
  margin-bottom: 10px;
  display: block;
}
header .all-data .info span a {
  color: var(--main-link-color);
}
header .all-data .info a button {
  padding: 18px 20px;
  margin: 25px auto 15px;
  outline: none;
  border: none;
  color: white;
  background-color: #42b72a;
  width: 140px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  display: block;
}
header .all-data .info a button:hover {
  background-color: #25a60b;
}
header .all-data .info .login {
  color: var(--main-color);
  text-align: center;
  margin: 20px 0 10px;
  display: block;
}
header .all-data .info .login:hover {
  color: var(--main-color-alt);
}

footer {
  height: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
}
footer .container {
  display: flex;
}
footer .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .container ul li {
  margin-right: 10px;
}
footer .container ul li a {
  font-size: 14px;
  color: #897e7e;
}
footer .container ul li a:hover {
  color: #5d5252;

}
footer .container ul li button {
  padding: 4px 12px;
  font-size: 20px;
  outline: none;
  border: none;
}
@media (max-width: 999px) {
  footer .container ul li {
    margin: 0 0 10px;
  }
}
@media (max-width: 550px) {
  header .container .content {
    width: 320px;
  }
  header .all-data .fullname {
    display: block;
  }
  header .all-data .fullname input {
    margin-bottom: 5px;
  }
  footer {
    margin: 20px auto 0;
  }
  header .all-data .gender-content label {
    width: calc(280px / 3);
  } 
}